@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet');

*,*:before,*:after{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}   

html, body{
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    background-color: #0F0F0F;
}



.header__burger{
    display: none;
}

/* Rectangle 1 */

.header_top{
    width: 100%;
    min-height: 44px;
    left: 0px;
    top: 0px;
    background-color: black;
    display: flex;
    font-family: PT Sans;
    font-size: 12px;
}
  
.header li{
    list-style: none;
}
  
.header_top__container{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10
}
@media (min-width:767px) {
.menu__p {
    display: none;
 }
}
/*----------*/
.header_top__container-2{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    padding-right: 10px;
}
.header_top-left-2 li{
    padding: 0 14px;
}
.header_top-left-2 li:last-child{
    padding-right: 0;
}
.header_top-left-2 li:nth-child(1){
    position: relative;
    padding-left: 45px;
}
.header_top-left-2 li:nth-child(1)::before{
    position:absolute;
    content: url(/img/telephone.png);
    top: 0;
    padding-left : 0px;
    left: 25px;
}

.header_top-right-2 li:last-child(1){
    padding-right: 10px;
}
.header_top-right-2 li:nth-child(1){
    position:relative;
    padding-left: 25px;
    padding-right: 30px;
    left: 30px;
}
.header_top-right-2 li:nth-child(1)::before{
    position: absolute;
    content: url(/img/ic_sharp-log-in.png);
    left: 10px;
    top: 0;
    padding-left: 0px;
}
/*----------*/
.header_top-left li{
    padding: 0 14px;
}
  
.header_top-left li:last-child{
    padding-right: 0;
}
  
.header_top-left li:nth-child(1){
    position: relative;
    padding-left: 61px;
}
    /* content*/   
.header_top-left li:nth-child(1)::before{
    position:absolute;
    content: url(/img/telephone.png);
    top: 0;
    padding-left : 0px;
    left: 40px ;
}
  
.header_top-left li{
    border-right: 1px solid gray;
}
  
.header_top-left li:last-child{
    border-right: none;
}
  
.header_top-right li:nth-child(1){
    position: relative;
    padding-left: 25px;
    padding-right: 30px;
}
  
.header_top-right li:nth-child(1)::before{
    position: absolute;
    content: url(/img/ic_sharp-log-in.png);
    left: 0;
    top: 0;
}
  
.header_top ul, .header_bottom ul{
    display: flex;
    padding: 0;
}
  
.header a, .header li{
    display: block;
    text-decoration: none;
    color: gray;
}
  
.header_bottom{
     width: 100%;
    height: 80px;
    left: 0px;
    top: 0px;
    background-color: #0F0F0F;
    display: flex;
    font-family: PT Sans;
    font-size: 14px;
    text-transform: uppercase;
}
  
.header_bottom__container{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
.header_bottom__container a.hover:hover{
    color: white;
    box-shadow:  0 0 0 32px #1F1F1F;
    background-color: #1F1F1F;
    transition: color 0.2s linear ;
}
  


.header_bottom-right li{
    padding: 0 20px;
}
  
.header_bottom-right li:last-child{
    padding-right: 0;
}
  
.header_bottom-right li:first-child{
    padding-left: 0;
}
  
.header_bottom-right li:nth-child(1), .header_bottom-right li:nth-child(2){
    padding-top: 5px;
}
  
.header_bottom-right li:nth-child(3){
    padding-right: 30px;
    padding-top: 5px;
}
  
.header_bottom-right li:nth-child(4){
    padding-left: 30px;
}
  
.header_bottom-right li:nth-child(5){
    padding-right: 30px;
}
  
.header_bottom-left img{
    padding-left: 30px;
}

.top_info{
    background:url(/img/fon1.png);
    background-size: cover;
    width: 100%;
    background-position: center;
}

.top_info__logo{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-top: 160px;
    padding-bottom: 85px;
}
  
.top_info__container{
    margin: 0 auto;
    width: 100%;
    max-width: 730px;
    padding: 0 15px 155px 15px;
    font-family: PT Sans;
    font-size: 16px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-indent: -1px;
}

.goods{
    display: flex;
    flex-direction: row;
    font-family: Playfair Display;
    background: black;
}
  
.goods__column_1{
    display: flex   ;
    position: relative;
    min-height: 730px;
    width: 100%;
}
  
.goods__column_2{
    /*
    display: block;
    position: relative;
    */
    height: 730px;
    background:no-repeat url( /img/fon2.png) left center;
    width: 880px;
    background-size: cover;
    max-width: 880px;
}
  
.goods__column_2 h2{
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
    padding-top: 490px;
    text-transform: uppercase;
}
  
.goods__column_2-title:after{
    content: "";
    display: block;
    width: 120px;
    height: 1px;
    background-color: white;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 27px auto 0 auto;
}
  
.goods h1{
    font-size: 36px;
    text-transform: uppercase;
    color: white;
    text-align: center;
    padding-top: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
}
  
.goods__column_1-title:after{
    content: "";
    display: block;
    width: 120px;
    height: 1px;
    background-color: white;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 47px auto 0 auto;
}

.watch{
    display: flex;
    margin-top: 50px;
    flex-wrap: wrap;
    justify-content: center;
}
  
.watch h5{
    font-family: Playfair Display;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    padding-top: 0px;
    padding-bottom: 0px;
}
  
.watch p{
    font-family: Playfair Display;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
}
  
.watch_1__container{
    margin-left: 70px;
    margin-right: 50px;
    max-width: 260px;
    width: 100%;
}
  
.watch_1, .watch_2, .watch_3{
    background-color: #191B1C;
}
  
.watch_1 img{
    padding: 55px 22px;
}
  
.watch_2__container{
          
    margin-right: 50px;
    max-width: 260px;
    width: 100%;
}
  
.watch_2 img{
    padding: 55px 22px;
}
  
.watch_3__container{
    
    margin-right: 69px;
    max-width: 260px;
    width: 100%;
}
  
.watch_3 img{
    padding: 55px 22px;
}

.collection{
    display: flex;
    flex-direction: row;
    font-family: Playfair Display;
    background: black;
}
  
.collection h1{
    font-size: 36px;
    text-transform: uppercase;
    color: white;
    text-align: center;
    padding-top: 98px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: center;
}
  
.collection_2-text{
    padding: 0 15px;
}
  
.collection_2-title:after{
    content: "";
    display: block;
    width: 120px;
    height: 1px;
    background-color: white;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 32px auto 0 auto;
}
  
.collection_1{
    display: block;
    position: relative;
    height: 600px;
    width: 100%;
    background: url(/img/fon3.png) 0 0 no-repeat;
    background-size: cover;
    background-position: center;
}
  
.collection_2{
    display: block;
    position: relative;
    min-height: 600px;
    width: 100%;
}
  
.collection_2-text{
    padding-top: 45px;
    width: 100%;
    max-width: 471px;
    margin: 0 auto;
    font-family: PT Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
}
  
.center {
    text-align: center;
}

.collection_2 button{
    margin: 66px 20px 0 20px;
    padding: 12px 28px;
    border: 1px solid #FFFFFF;
    background-color: black;
}
  
.collection_2 button:hover{
    background-color: rgba(255, 255, 255, 0.4);
}
  
.collection_2 button h2{
    font-family: PT Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.1em;
    text-align: center;
    color: white;
    text-transform: uppercase;
}

/*право-каталог*/
.goods__column_2 button:hover{
    background-color: rgba(255, 255, 255, 0.4);
}
  
.goods__column_2 button h3{
    font-family: PT Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.1em;
    text-align: center;
    color: white;
    text-transform: uppercase;
}
.goods__column_2 button{
    margin-top: 30px;
    margin-bottom: 100px;
    padding: 15px 26px;
    border: 1px solid #FFFFFF;
    background-color: transparent;
}

.new_goods{
    background: black;
    width: 100%;
}
  
.new_goods h1{
    padding-top: 120px;
    font-family: Playfair Display;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: center;
    text-transform: uppercase;
    color: white;
}


.new_goods-title:after{
    content: "";
    display: block;
    width: 120px;
    height: 1px;
    background-color: white;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 45px auto 0 auto;
}
  
.catalog{ 
    margin: 0 auto;
    margin-top: 81px;
    max-width: 1132px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 110px;
}
  
.catalog h5{
    font-family: Playfair Display;
    font-size: 18px;
    font-style: normal;
    font-weight: 400 ;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    padding-top: 0%;
    padding-bottom: 0px;
}
  
.catalog p{

    font-family: Playfair Display;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    padding-bottom: 40px;
    padding-top: 5px;
}
  
.catalog__item{
    background-color: #191B1C;
}
  
.catalog img{
    padding: 55px 22px;
}
.catalog__container{
    margin: 0 11.5px;
    max-width: 260px;
    width: 100%;
}
.catalog{
    padding-bottom: 70px;
}


.footer_top{
    width: 100%;
    min-height: 356px;
    left: 0px;
    top: 0px;
    background-color: #0F0F0F;
    font-family: PT Sans;
  }
  
.brands{
    width: 100%;
    max-width: 1110px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    padding-top: 40px;
    flex-wrap: wrap;
}
  
.brands img{
    width: 255px;
    height: 94px;
    margin-bottom: 20px;
}
  
.footer_top h1{
    font-family: Playfair Display;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
    text-transform: uppercase;
    padding-top: 70px;
}
  
.footer_top-title:after{
    content: "";
    display: block;
    width: 120px;
    height: 1px;
    background-color: white;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 45px auto 0 auto;
}

.footer_middle{
    width: 100%;
    min-height: 400px;
    left: 0px;
    top: 0px;
    background: url(/img/fon\ end.png) 0 0 no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    font-family: PT Sans;
}

.footer_middle__content{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    font-family: PT Sans;
    flex-direction: row;
}

.footer_middle__content__column_1{
    display: block;
    position: relative;
    width: 332.4px;
    min-height: 230px;
    margin: 76px 30px 92px 30px;
}

.footer_middle__content__column_2{
    display: block;
    position: relative;
    width: 308px;
    min-height: 230px;
    margin: 76px 72px 92px 0;
}

.footer_middle h2{
    font-family: Playfair Display;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: uppercase;
    color: white;
    padding-bottom: 40px;
}

.footer_middle__content__column_3{
    display: block;
    position: relative;
    width: 351px;
    min-height: 230px;
    margin: 76px 30px 92px 0;
}

.footer_middle p{
    font-family: PT Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
}
  
.footer_middle h3{
    padding-bottom: 40px;
    font-family: PT Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
}
  
.footer_middle input{
    width: 210px;
    height: 42px;
    background: rgba(255, 255, 255, 0.4);
    padding: 0 15px;
}

.footer_middle input::placeholder{
    color: lightgray;
    font-family: PT Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
}
  
.one_str{
    display: flex;
}
  
.footer_middle button{
    background-color: #0F0F0F;
    padding: 10px 20px;
}
  
.footer_middle button:hover{
    background-color: rgba(255, 255, 255, 0.2)
}
  
.footer_middle button h5{
    font-family: PT Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.05em;
    text-align: left;   
    color: white;
    text-transform: uppercase;
}

.categories{
    margin: 0 auto;
    max-width: 307px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
  
.categories__item{
    background-color: #0F0F0F;
}
  
.categories h4{
    padding: 10px 20px;
    font-family: PT Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #D0D0D0;
}
  
.categories__container{
    margin-right: 20px;
    margin-bottom: 20px;
}

.footer_bot{
    width: 100%;
    min-height: 40px;
    left: 0px;
    top: 0px;
    background-color: #0F0F0F;
    display: flex;
    align-items: center;
}

.footer_bot_content{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    font-family: PT Sans;
    justify-content: space-between;
}

.footer_bot p{
    font-family: PT Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: lightgray;
    padding-left: 30px;
}

.footer_bot h5{
    font-family: PT Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: lightgray;
    padding-right: 30px;
}

@media (max-width: 767px) {
    body.lock {
        overflow: hidden;
    }
    .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 3;
    }
    
    .header__burger span {
        position: absolute;
        background-color: #fff;
        width: 100%;
        height: 2px;
        left: 0;
        top: 9px;
        transition: all 0.3s ease 0s;
    }
    .header__burger:before,
    .header__burger:after {
        position: absolute;
        content: "";
        background-color: #fff;
        width: 100%;
        height: 2px;
        left: 0px;
        transition: all 0.3s ease 0s;
    }
    .header__burger:before {
        top: 0;
    }
    .header__burger:after {
        bottom: 0;
    }
    .header__burger.active span {
        transform: scale(0);
    }

    .header__burger.active:before {
        transform: rotate(45deg);
        top: 9px;
    }
    .header__burger.active::after {
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .menu__p {
        display: flex;
        padding-top: 25x;
        justify-content: center;
        font-family: PT Sans;
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        color: #969696;
    }   
    .header_menu_list {
        position: fixed;
        top: -150%;
        left: 0;
        width: 100%;
        height: 100%;
       background-color: #0F0F0F;
       padding-top: 175px;
       text-align: center;
       transition: all 0.3s ease 0s;
       overflow: auto;
    }
    .body.lock{
        overflow: hidden;
    }
    .header_menu_list.active{
        top: 0;
    }
    .header_top ul, .header_bottom ul {
        display: block;
    }
    
    .header_bottom ul{
        display: block;
    }
    .header_bottom-right li{
        padding: 0;
        margin-bottom: 50px;
    
    }
    .header_bottom-right li:nth-child(4) {
        padding: 0;
    }
    .header_bottom-right li:nth-child(5) {
        padding: 0;
    }
    .header_bottom-right li:nth-child(3){
        padding: 0;
    }
    .header_bottom-right li:nth-child(1), .header_bottom-right li:nth-child(2) {
        padding: 0;
    }
}
@media (max-width: 1920px) {
    .header_top__container {
        padding: 0 20% 0 20%;
    }
}
@media (max-width: 1440px) {
    .header_top__container {
        padding: 0 10% 0 10%;
    }
}
@media (min-width: 767px) and (max-width: 900px) {
    .header_top__container {
        padding: 0 5% 0 5%;
    }
}
@media (max-width: 767px) {
    .header_top__container{
        display: none;
    }
    .header_top__container-2{
        display: flex;
    }
}    
@media (min-width: 767px) {
    .header_top__container-2{
        display: none;
    }
}

      /*
@media (max-width:767px) {
    .header__burger {
        display: block ;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 3;
        margin-right: 30px;
    }
    /*почему он захватывает обычное бургер меню?
    .header__burger span{
        background-color: #FFFFFF;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        top: 9px;   
        transition: all 0.3s ease 0s;
        z-index: 3;
    }
    .header__burger :before, 
    .header__burger :after{
        content: "";
        background-color: #FFFFFF;
        position: absolute;
        width: 100%;
        height: 2px;
       
    }
    .header__burger:before{
        top: 0px;
    }
    .header__burger:after{
        bottom: 0px;    
    }

    .header_menu_list{
        display: block;
        padding-top: 175px;
        position: fixed;
        top: -150%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #0F0F0F;
        text-align:center ;
        transition: all 0.3s ease 0s;
        overflow:auto;
    }
    .header_menu_list li{
        margin: 0px 0px 20px 0px;
    }
    .header_bottom ul {
        display: block
    }
    .header_menu_list.active{
        top: 0;
    }

    /*бургер меню(спан)
    .header__burger.active:before{
        transform: rotate(45deg);
        top: 9px;
    }
    .header__burger.active:after{
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .header__burger.active span{
        transform: scale(0)
    }

    body.lock{
        overflow: hidden;
    }
    .header_bottom__container a.hover:hover {
        box-shadow: none;
        background-color: inherit;
    }
    
    
    
    .header_top__container {
      max-width: 320px;
    }

    .header_top{
        display: block;
    }
    
    .header_top__container{
        display: block;
        text-align: center;
    }
    
    .header_top-left li {
        border: none;
        padding: 10px 0;
    }
    
    .header_top-right li:nth-child(1){
        padding: 10px 0;
    }
    /*спрятать можно
    .header_top-left li:nth-child(1){
       padding: 10px 0;
    }

    .header_top-left li:nth-child(1)::before {
        padding: 10px 0;
        margin-left: 90px;
    }
    
    .header_top-right li:nth-child(1)::before {
        padding: 10px 0;
        margin-left: 90px;
    }
    
    .header_top ul {
        display: block;
    }

}


@media (max-width:767px){
    .header_bottom-right li{
        padding: 0;
        margin-bottom: 50px;
    }
    .header_bottom-right li:nth-child(4){
        padding: 0;
    }
    .header_bottom-right li:nth-child(5){
        padding: 0;
    }
    .header_bottom-right li:nth-child(3){
        padding: 0;
    }
    .header_bottom-right li:nth-child(1){
        padding: 0;
    }
    .header_bottom-right li:nth-child(2){
        padding: 0;
    }
}
