@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet');

*,*:before,*:after{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}   
.wrapper {
    height: 100%;
    overflow: auto;
    background-color: #000;
    overflow-x: hidden;
}

html, body{
    height: 100%;
    line-height: 1;
    background-color: #0F0F0F;
}

.header__burger{
    display: none;
}

/* Rectangle1 1 */

.header_top{
    width: 100%;
    min-height: 44px;
    left: 0px;
    top: 5px;
    background-color: black;
    display: flex;
    font-family: PT Sans;
    font-size: 12px;
} 
.header li{
    list-style: none;
}
.header_top__container{
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}
@media (min-width:767px) {
.menu__p {
    display: none;
 }
}
/*----------*/
.header_top__container-2{
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    padding-right: 10px;
}
.header_top-left-2 li{
    padding: 0 14px;
}
.header_top-left-2 li:last-child{
    padding-right: 0;
}
.header_top-left-2 li:nth-child(1){
    position: relative; 
    padding-left: 45px;
    top: 3px;
}
.header_top-left-2 li:nth-child(1)::before{
    position:absolute;
    content: url(../img/telephone.png);
    top: 0;
    padding-left : 0px;
    left: 25px;
}

.header_top-right-2 li:last-child(1){
    padding-right: 10px;
}
.header_top-right-2 li:nth-child(1){
    position:relative;
    padding-left: 25px;
    padding-right: 30px;
    left: 30px;
    top: 2px;
}
.header_top-right-2 li:nth-child(1)::before{
    position: absolute;
    content: url(../img/ic_sharp-log-in.png);
    left: 10px;
    top: 0;
    padding-left: 0px;
}
/*----------*/
.header_top-left li{
    padding: 0 14px;
}
.header_top-left li:last-child{
    padding-right: 0;
} 
.header_top-left li:nth-child(1){
    position: relative;
    padding-left: 61px;
}
    /* content*/   
.header_top-left li:nth-child(1)::before{
    position:absolute;
    content: url(../img/telephone.png);
    top: 0;
    padding-left : 0px;
    left: 40px ;
}
.header_top-left li{
    border-right: 1px solid gray;
}
.header_top-left li:last-child{
    border-right: none;
} 

.header_top-right li:nth-child(1){
    position: relative;
    padding-left: 25px;
    padding-right: 30px;
} 
.header_top-right li:nth-child(1)::before{
    position: absolute;
    content: url(../img/ic_sharp-log-in.png);
    left: 0;
    top: 0;
}
  
.header_top ul, .header_bottom ul{
    display: flex;
    padding: 0;
}
.header a, .header li{
    display: block;
    text-decoration: none;
    color: gray;
}  
.header_bottom{
    width: 100%;
    height: 80px;
    left: 0px;
    top: 0px;
    background-color: #0F0F0F;
    display: flex;
    font-family: PT Sans;
    font-size: 14px;
    text-transform: uppercase;
}
.header_bottom__container{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
} 
.header_bottom__container a.hover:hover{
    color: white;
    box-shadow:  0 0 0 32px #1F1F1F;
    background-color: #1F1F1F;
    transition: color 0.2s linear ;
}

.header_bottom-right li{
    padding: 0 20px;
} 
.header_bottom-right li:last-child{
    padding-right: 0;
} 
.header_bottom-right li:first-child{
    padding-left: 0;
} 
.header_bottom-right li:nth-child(1), .header_bottom-right li:nth-child(2){
    padding-top: 5px;
} 
.header_bottom-right li:nth-child(3){
    padding-right: 30px;
    padding-top: 5px;
} 
.header_bottom-right li:nth-child(4){
    padding-left: 30px;
} 
.header_bottom-right li:nth-child(5){
    padding-right: 30px;
}
.header_bottom-left img{
    padding-left: 30px;
}
/*-----------*/
.top_info {
    background:url(../img/fon1.png);
    background-size: cover;
    width: 100%;
    max-width: 2000px;
    background-position: center;
    margin: 0 auto;
}
.top_info__logo{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-top: 160px;
    padding-bottom: 85px;
}
.top_info__container{
    margin: 0 auto;
    width: 100%;
    max-width: 730px;
    padding: 0 15px 155px 15px;
    font-family: PT Sans;
    font-size: 16px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-indent: -1px;
}
/*center*/  
.goods{
    display: flex;
    min-height: 730px;
    max-width: 2000px;
    margin: 0 auto;
} 
.goods__column_1{
    width: 1040px;
    background-color: #000;
    min-width: 0;
}
.goods__column_2 {
    width: 880px;
    height: 730px;
    background:no-repeat url(../img/mainpage__block2_sec2.jpg) left center;
    background-size: cover;
}
.goods__column_1-title{
    display: block;
    width: 100%;
    padding-bottom: 50px;
}
.goods__column_1-text{
    display: flex;
    color: #fff;
    padding-top: 93px;
    padding-bottom: 50px;
    justify-content: center;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
}
.goods__column_1-span{
    display: flex;
    width: 120px;
    height: 1px;
    border: 1px solid #ffffff;
    margin: 0 auto;
}

.block1__items{
    display: flex;
    justify-content: space-around;
    height: 325px;
    align-items: center;
}
.block1__item1{
    height: 290px;
    width: 260px;
    background: #191b1c;
}
.block1-img {
    padding: 27px 22px 34px 23px;
}
.block1-text{
    padding-top: 25px;
    color: white;
    font-family: Playfair Display ;
    font-style: normal;
    font-weight: 400;   
    font-size: 18px;
    line-height: 30px;
}
img {
    vertical-align: top;
}

/*swiper*/
.swiper{
    display:none    
}
.image-bacground {
    margin: 0 auto;
    text-align: center;
}
.image-bacground img {
    height: 290px;
    width: 260px;
    background: #191b1c;
}
.swiper-button-prev::after, 
.swiper-button-next::after {
    color: #fff;
    font-size: 50px;
}   

/*center-2*/
.goods__column_2{
    display: flex;
    flex-direction: column;
}
.goods__column_2-text{
    padding-top: 484px;
    padding-bottom: 30px;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
}
.goods__column_2-span{
    width: 120px;
    border: 1px solid #ffffff;
    margin: 0 auto;
    margin-bottom: 30px;
}
.goods__column_2-button{
    margin: 0 auto;
    width: 130px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #ffffff;
} 
.goods__column_2-link{
    color: #ffffff;
    font-family: PT Sans;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 50px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
a {
    text-decoration: none;
}
.text{
    font-family: Playfair Display;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #d0d0d0;
}
.goods__column_2-button:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

@media (max-width: 1500px) {
    .swiper {
        display: flex;
    }
    .block1__items {
        display: none;
    }
}
@media (max-width: 1024px) {
    .goods {
        display: block;
    }
    .goods__column_1 {
        height: 730px;
        width: 100%;
    }
    .goods__column_2 {
        height: 730px;
        width: 100%;
    }
}    
@media (max-width: 900px) {
    .goods__column_2-text{
        padding-top: 35px;
        padding-bottom: 35px;
    }
    .goods__column_1{
        height: 580px;
    }
    .goods__column_2{
        height: 500px;
    }
    .goods__column_2-text{
        font-size: 36px;
        padding-top: 300px;
        padding-bottom: 30px;
    }
    .goods__column_2-button {
        margin: 0 auto;
        width: 100px;
    }
    .goods__column_2-link{
        font-size: 15px;
    }
    .block1-text{
        padding-top: 15px; 
        font-size: 18px;
        line-height: 20px;
    }
    .goods__column_1-title{
        padding-bottom: 35px;
    }
}
@media (max-width: 500px) {
    .goods__column_1-text{
        font-size: 28px;
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .goods__column_1{
        height: 550px;
    }
    .goods__column_2-text{
        font-size: 28px;
        padding-top: 300px;
        padding-bottom: 30px;
    }
    .block1-text{
        padding-top: 15px;
        font-size: 15px;
        line-height: 20px;
    }
    .text {
        font-size: 12px;
    }
}
@media (max-width: 400px) {
    .block1-img{
        padding: 17px 12px 24px 13px;
    }
    .image-bacground img{
        width: 220px;
        height: 240px;
    }
    .goods__column_1{
        height: 430px;
    }
    .goods__column_1-text{
        font-size: 26px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .goods__column_1-title{
        padding-bottom: 25px;
    }
    .goods__column_1-span{
        width: 80px;
    }
    .block1-text{
        padding-top: 12px;
        font-size: 13px;
        line-height: 20px;
    }
    .text {
        font-size: 10px;
    }
    .goods__column_2{
        height: 450px;
    }
    .goods__column_2-text{
        font-size: 26px;
        padding-top: 280px;
        padding-bottom: 15px;
    }
    .goods__column_2-button{
        margin: 0 auto;
        width: 80px;
        height: 40px;
    }
    .goods__column_2-link{
        font-size: 12px;
        line-height: 40px;
    }
    .goods__column_2-span{
        width: 90px;
    }
}
/*--------*/
.collection{
    display: flex;
    min-height: 600px;
    max-width: 2000px;
    margin: 0 auto;
}  
.collection_2-title{
    padding-top: 100px;
    padding-bottom: 40px;
    margin: 0 auto;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
}  
.collection_1{
    height: 600px;
    width: 963px;
    background: url(../img/mainpage__block3_sec1.jpg);
    background-size: cover;
}  
.collection_2{
    display: flex;
    flex-direction: column;
    width: 957px;
    height: 600px;
    background: #000;
}  
.collection_2-text{
    padding: 40px 20px 60px 20px;
    margin: 0 auto;
    max-width: 630px;
    min-height: 170px;
    font-family: PT Sans;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: #ffffff;
} 
.collection_2-span{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    width: 120px;
    border: 1px solid #ffffff;
}
.collection_2-button{
    margin: 0 auto;
    width: 300px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #ffffff;
} 
.collection_2-link{
    color: #ffffff;
    font-family: PT Sans;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
.collection_2-button:hover{
    background-color: rgba(255, 255, 255, 0.5);
}  
@media (max-width: 1250px) {
    .collection_2-title{
        padding-top: 70px;
        padding-bottom: 40px;
        font-size: 34px;
    }
}
@media (max-width: 1024px) {
    .collection{
        display: block;
    }
    .collection_1{
        height: 400px;
        width: 100%;
    }
    .collection_2{
        height: 600px;
        width: 100%;
    }
}
@media (max-width: 900px) {
    .collection_2{
        height: 500px;
        width: 100%;
    }
    .collection_2-title{
        padding-top: 40px;
        padding-bottom: 25px;
        font-size: 36px;
    }
    .collection_2-text{
        padding: 25px 20px 45px 20px;
    }
}
@media (max-width: 450px) {
    .collection_1{
        height: 250px;
        width: 100%;
    }
    .collection_2{
        height: 450px;
    }
    .collection_2-button {
        width: 250px;
        height: 40px;
    }
    .collection_2-link {
        font-size: 15px;
        line-height: 40px;
    }
    .collection_2-link {
        padding-top: 15px;
        padding-bottom: 20px;
        font-size: 28px;
    }
    .collection_2-text {
        padding-bottom: 40px;
    }
}
@media (max-width: 450px) {
    .collection_2{
        height: 440px;
    }
    .collection_2-title {
        font-size: 26px;
    }
    .collection_2-text {
        font-size: 12px;
    }
    .collection_2-button {
        width: 200px;
        height: 35px;
    }
    .collection_2-link {
        font-size: 12px;
        line-height: 35px;
    }
}
.new_goods{
    background: black;
    height: 1289px;
} 
.new_goods__header{     
    display: flex;
    flex-direction: column;
}
.new_goods-span{
    display: flex;
    flex-direction: row;
    margin: 20px auto 0 auto;
    width: 120px;
    border: 1px solid white;
}
.new_goods h1{
    font-family: Playfair Display;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: center;
    text-transform: uppercase;
    color: white;
}
.image-slider2 {
    display: none;
}
.block2__items{
    padding-top:     81px;  
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 1110px;
    height: 850px;
    justify-content: space-around;
    height: 325px;
    align-items: center;
}   
.block2__item1,
.block2__item2,
.block2__item3,
.block2__item4,
.block2__item5,
.block2__item6,
.block2__item7,
.block2__item8 {
    height: 300px;
    width: 260px;
    background: #191b1c;
}
.block2__item1-img,
.block2__item2-img,
.block2__item3-img,
.block2__item4-img,
.block2__item5-img,
.block2__item6-img,
.block2__item7-img,
.block2__item8-img{
    padding: 27px 22px 34px 23px;
}
.block2__item1,
.block2__item2,
.block2__item3,
.block2__item4 {
    margin-bottom: 120px;
}
.block2__items p {
    color: white;
}
.block2-text{
    padding-top: 25px;
    color: white;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}
@media (max-width: 2600px){
    .new_goods{
        height: 1000px;}
}
@media (max-width: 1919px) {
    .new_goods-title {
        padding-top: 50px;
    }
    .new_goods{
        height: 1000px;
    }
    .block2__items{
        padding-top: 50px;
    }
}
@media (max-width: 1200px) {
    .block2__items{
        display: none;
    }
    .image-slider2 {
        display: flex;
    }
    .image-slider_image2 {
        margin: 0;
        padding-top: 50px;
    }
    .new_goods{
        height: 600px;
    }
    .new_goods-title{
        padding-top: 40px;
        padding-bottom: 40px;
    }
}
@media (max-width: 1024px) {
    .new_goods-title {
        padding-top: 10px;
        padding-bottom: 40px;
    }
}
@media (max-width: 500px) {
    .new_goods{
        height: 550px;
    }
    .new_goods-title{
        font-size: 28px;
        padding-bottom: 25px;
    }
}
@media (max-width: 400px) {
    .new_goods{
        height: 550px;
    }
    .new_goods-title{
        font-size: 26px;
        padding-bottom: 20px;
    }
}

.footer_top{
    width: 100%;
    min-height: 340px;
    left: 0px;
   top: 40px;
    background-color: #0F0F0F;
    font-family: PT Sans;
}
  
.brands{
    width: 100%;
    max-width: 1110px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    padding-top: 40px;
    flex-wrap: wrap; 
} 
.brands img{
    width: 255px;
    height: 94px;
    margin-bottom: 20px;
} 

.footer_top h1{
    font-family: Playfair Display;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
    text-transform: uppercase;
    padding-top: 40px;
    color: white;
}  
.footer_top-title:after{
    content: "";
    display: block;
    width: 120px;
    height: 1px;
    background-color: white;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 45px auto 0 auto;
}

.footer_middle{
    width: 100%;
    min-height: 400px;
    left: 0px;
    top: 0px;
    background: url(../img/fon-end.png) 0 0 no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    font-family: PT Sans;
}
.footer_middle__content{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    font-family: PT Sans;
    flex-direction: row;
}
.footer_middle__content__column_1{
    display: block;
    position: relative;
    width: 332.4px;
    min-height: 230px;
    margin: 76px 30px 92px 30px;
}
.footer_middle__content__column_2{
    display: block;
    position: relative;
    width: 308px;
    min-height: 230px;
    margin: 76px 72px 92px 0;
}
.footer_middle h2{
    font-family: Playfair Display;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: uppercase;
    color: white;
    padding-bottom: 40px;
}
.footer_middle__content__column_3{
    display: block;
    position: relative;
    width: 351px;
    min-height: 230px;
    margin: 76px 30px 92px 0;
}
.footer_middle p{
    font-family: PT Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
}  
.footer_middle h3{
    padding-bottom: 40px;
    font-family: PT Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
}
.footer_middle input{
    width: 210px;
    height: 42px;
    background: rgba(255, 255, 255, 0.4);
    padding: 0 15px;
}
.footer_middle input::placeholder{
    color: lightgray;
    font-family: PT Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
}
  
.one_str{
    display: flex;
}
  
.footer_middle button{
    background-color: #0F0F0F;
    padding: 10px 20px;
}  
.footer_middle button:hover{
    background-color: rgba(255, 255, 255, 0.2)
} 
.footer_middle button h5{
    font-family: PT Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.05em;
    text-align: left;   
    color: white;
    text-transform: uppercase;
}

.categories{
    margin: 0 auto;
    max-width: 307px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.categories__item{
    background-color: #0F0F0F;
}
.categories h4{
    padding: 10px 20px;
    font-family: PT Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #D0D0D0;
}
.categories__container{
    margin-right: 20px;
    margin-bottom: 20px;
}

.footer_bot{
    width: 100%;
    min-height: 40px;
    left: 0px;
    top: 0px;
    background-color: #0F0F0F;
    display: flex;
    align-items: center;
}
.footer_bot_content{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    font-family: PT Sans;
    justify-content: space-between;
}
.footer_bot p{
    font-family: PT Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: lightgray;
    padding-left: 30px;
}
.footer_bot h5{
    font-family: PT Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: lightgray;
    padding-right: 30px;
}
@media(max-width: 810px) {
    .footer_middle{
      display: block;
    }
  
    .footer_middle__content{
      display: block;
      max-width: 400px;
    }
  
    .footer_middle__content__column_1{
      margin: 0;
      padding: 80px 15px 30px 15px;
    }
  
    .footer_middle__content__column_2{
      margin: 0;
      padding: 30px 15px 30px 15px;
    }
  
    .footer_middle__content__column_3{
      margin: 0;
      padding: 30px 15px 80px 15px;
    }
}
@media (max-width: 330px) {
    .footer_bot_content{
        font-size: 11px;
        margin: 0 auto;
    }
}

@media(max-width: 1020px) {
    .brands img{
      margin-left: 50px;
      margin-right: 50px;
    }
  
    .brands{
      max-width: 800px;
    }
}
@media(max-width: 710px) {
    .brands img{
      margin: 0 50px 40px 50px;
    }
  
    .brands{
      max-width: 355px;
    }
}
@media(max-width: 350px) {
    .footer_middle button {
      margin-top: 20px;
    }
    .one_str{
      display: block;
    }
    .footer_middle h3 {
      padding-right: 10px;
    }
}

@media (max-width: 767px) {
    body.lock {
        overflow: hidden;
    }
    .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 3;
    }
    
    .header__burger span {
        position: absolute;
        background-color: #fff;
        width: 100%;
        height: 2px;
        left: 0;
        top: 9px;
        transition: all 0.3s ease 0s;
    }
    .header__burger:before,
    .header__burger:after {
        position: absolute;
        content: "";
        background-color: #fff;
        width: 100%;
        height: 2px;
        left: 0px;
        transition: all 0.3s ease 0s;
    }
    .header__burger:before {
        top: 0;
    }
    .header__burger:after {
        bottom: 0;
    }
    .header__burger.active span {
        transform: scale(0);
    }

    .header__burger.active:before {
        transform: rotate(45deg);
        top: 9px;
    }
    .header__burger.active::after {
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .menu__p {
        display: flex;
        padding-bottom: 25px;
        justify-content: center;
        font-family: PT Sans;
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        color: #969696;
    }   
    .header_menu_list {
        position: fixed;
        top: -150%;
        left: 0;
        width: 100%;
        height: 100%;
       background-color: #0F0F0F;
       padding-top: 175px;
       text-align: center;
       transition: all 0.3s ease 0s;
       overflow: auto;
    }
    .body.lock{
        overflow: hidden;
    }
    .header_menu_list.active{
        top: 0;
    }
    .header_top ul, .header_bottom ul {
        display: block;
    }
    
    .header_bottom ul{
        display: block;
    }
    .header_bottom-right li{
        padding: 0;
        margin-bottom: 50px;
    }
    .header_bottom-right li:nth-child(4) {
        padding: 0;
    }
    .header_bottom-right li:nth-child(5) {
        padding: 0;
    }
    .header_bottom-right li:nth-child(3){
        padding: 0;
    }
    .header_bottom-right li:nth-child(1), .header_bottom-right li:nth-child(2) {
        padding: 0;
    }
}

@media (max-width: 767px) {
    .header_top__container{
        display: none;
    }
    .header_top__container-2{
        display: flex;
    }
}    
@media (min-width: 767px) {
    .header_top__container-2{
        display: none;
    }
}